body, footer, header{
    background-color: #ADD8E6;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
  text-align: center;
  font-size: 65px;
}

footer, header, nav{
    display: block;
}

div.skip a{
    color: black;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.typing{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  border-bottom: 5px;
  letter-spacing: .10em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 50% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}

footer{
    background-color: #ADD8E6;
    color: hsl(309, 96%, 29%);
    padding-top: 30px;
    text-align: center;
    display: grid;
    grid-column: 1 / -1;
    grid-row: 7/ auto;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

img {
    width: 100%;
    height: auto;
}

.navbar li{  
    width: 20%;
    border: 2px solid black;
    font-size: 100%;
    padding: 1% 2%;
    border-radius: 10px;
    text-align: center;
    margin:2px;
    background-color: white;
  }

.navbar li.current{
  background-color: #FFE87C;
}

.navbar{
    background-color: #ADD8E6;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end; /*BECAUSE WE ARE DOING ROWS WE NEED TO ALIGN, NOT JUSTIFY*/
}

.navbar a{
    text-decoration: none;
    font-size: 125%;
    font-weight: bold;
    color: black;
}

ul.skills{
    display: flex;
    flex-direction: column;
    color: hsl(309, 96%, 29%);
    padding: 10px;
    align-items: right;
    font-size: 150%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

mark{
  background-color: black;
  color: white;
  padding: 5px;
  font-size: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.gallery{
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: 325px 325px 120px; */
    margin: 0 auto 80px;
    max-width: 80vw;
}

.gallery-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 6px solid white;
    align-content: center;
}

.gallery-img:hover{
  opacity: 70%;
}

*{
  box-sizing: border-box;
}

input[type="text"],select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid black;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"]{
  background-color: grey;
  color: white;
  padding: 12px 20px;
  border:none;
  cursor: pointer;
}

input[type="submit"]:hover{
  background-color: pink;
}

.container{
  border-radius: 5px;
  padding: 10px;
}

.column{
  float:left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.row::after{
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px){
  .column, input[type="submit"]{
    width: 100px;
    margin-top: 0;
  }
}

@media (prefers-reduced-motion: reduce) {
  .typing{
    animation: none;
    -webkit-animation: none;
  }
}

.parallax{
  background-image: url("../images/mylife/parallax.jpg");
  height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-device-width: 600px){
  .parallax{
    background-attachment: scroll;
  }
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 400px;
  border: 1px solid #f1f1f1;
  margin: auto;
   /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner,
.flip-card:focus-within .flip-card-inner,
.flip-card:active .flip-card-inner,
.flip-card:focus .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  position: absolute;
  width: fix-content;
}

/* Style the back side */
.flip-card-back {
  background-color: #FF8040;
  color: black;
  transform: rotateY(180deg);
}

.bio-image-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
  transform: scale(1.2) rotateZ(calc(11 * 1deg));
  transition: transform .2s ease-out;
}


    /* ul {
    display: flex;
    flex-wrap: wrap;
  }
  
  li {
    flex-grow: 1;
  }

  .navbar{
      background-color: #89cff0;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      justify-self: flex-end;
      align-items: flex-start;
  }

  a{
      text-decoration: none;
  } */


  /* ul {
    display: flex;
    flex-wrap: wrap;
  }*/
  
  /* .flex-gallery.img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
  } */


/* .navbar{
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: start;
}

li{
    float: right;
    padding: 10px 10px 10px 10px;
}  */

/* body{
    font-family: 'Raleway', sans-serif; 
    margin: 0;
    padding: 0;
    font-size: 16pt; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  h1{
    font-size: 2em;
    text-align: center;
    line-height: 2;
  }
  
  h2{
    font-size: 1.5em;
    text-align: center;
    padding: 5px;
  }
  
  p {
    padding: 0 30px;
  }

  .nav{
    display: flex;
    flex-direction: column;
  }

  li{
      display: inline;
      float: left;
  }

  a{
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }

  .words.h3{
      font-size: 60px;
  }
  
  footer{
    background-color: black;
    color: white;
    padding: 30px;
    text-align: center;
  }


  .flex-gallery{
    min-height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  
 
  
  @media screen and (min-width: 850px){
  
    #navbar{
      display: flex;
      flex-direction: row;
    }
  }
  
  @media print { 
    .card {
      flex-basis: 200px;
    }
  
    body{
      background-image: none;
    }
  
    .pricing{
      align-items: flex-start;
    }
  
    .gallery, #gallery{
      display: none;
    }

  }

  @media (prefers-reduced-motion: reduce) {
    #logo{
      animation: none;
      -webkit-animation: none;
    }
  } */
  
